<h1>You have successfully submitted and Application</h1>

<p>
  <strong>User:</strong>
  <%= @apply.user %>
</p>

<p>
  <strong>Job id:</strong>
  <%= @apply.jobId %>
</p>

<p>
  <strong>Date:</strong>
  <%= @apply.date %>
</p>

<%= button_to 'Back', jobs_path, :method => "get", class: "btn btn-default" %>
