<h1>Dashboard#home</h1>
<p>Find me in app/views/dashboard/home.html.erb</p>



<% if current_user.try(:admin?) %>
    <!-- THIS IS THE ADMIN USER DASHBOARD
        Who has applied
    -->

<% else %>
    <!-- THIS IS THE NORMAL USER DASHBOARD
        Jobs Applied for
     -->
<% end %>

<%= label_tag current_user.name %>




